/* div, body and image styles */ 

div { 
    width:auto;
    height:auto;
    padding: 25px 50px 75px 100px;
}

body {
    margin: auto;
    background-color: rgb(252, 252, 252);
}

img {
    margin: auto;
    height: fit-content;
	width: fit-content;
}

/* Header styles */ 

h1 {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 45px;
}

h2 {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 35px;
}

h3 {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 30px;
}

/* Paragraph style */

p {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 25px;
}

/* List styles */

ol {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 25px;
}

ul {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 25px;
}

/* Nav and link styles */

nav {
    color: rgb(24, 53, 58);
    font-family: sans-serif;
    font-size: 30px;
    justify-content: center;
    margin: auto;
}

a {
    text-decoration: none;
}

a:link { 
    color: rgb(102, 102, 102);
}

a:visited { 
    color: rgb(24, 53, 58);
}

a:hover { 
    color: rgb(230, 206, 101);
}

a:active { 
    color: rgb(24, 53, 58);
}

/* classes */

.text-centered {
    text-align: center;
    list-style-position: inside;
}
  
.image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.colorful-background {
    background-color: rgb(190,76,66);
    color: white;
  }